<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./../index.html" aria-label="Site logo"> </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./../index.html"
            >Go back</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./../01-timer.html"
            >Timer</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./../02-snackbar.html"
            >Promise Generator</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
