.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input#datetime-picker {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[data-start] {
  max-width: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: not-allowed;
  vertical-align: baseline;
  margin: 0;
}

button[data-start]:enabled {
  cursor: pointer;
}

.timer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  font-size: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.value {
  font-size: 48px;
  font-weight: bold;
  color: #000;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
  color: #666;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .timer {
    font-size: 24px;
  }

  .value {
    font-size: 36px;
  }

  .label {
    font-size: 14px;
  }
}
